@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(3 7 18);
  --foreground: rgb(243 244 246);
}

body {
  background: var(--background);
  color: var(--foreground);
}
